{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- parallax top-->
        <!-- Breadcrumbs -->
        <section class="bg-gray-7">
            <div class="breadcrumbs-custom box-transform-wrap context-dark">
                <div class="container">
                    <h3 class="breadcrumbs-custom-title">About us</h3>
                    <div class="breadcrumbs-custom-decor"></div>
                </div>
                <div class="box-transform" style="background-image: url({% static 'images/bg-1.jpg' %});"></div>
            </div>
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="#">Home</a></li>
                    <li class="active">About us</li>
                </ul>
            </div>
        </section>
        <section class="section section-lg bg-default">
            <div class="container">
                <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-center text-md-left" id="tabs-4">
                    <div class="col-lg-4 col-xl-3">
                        <h5 class="text-spacing-200 text-capitalize">10+ years of experience</h5>
                        <ul class="nav list-category list-category-down-md-inline-block">
                            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s"><a class="active" href="#tabs-4-1" data-toggle="tab">About us</a></li>
                            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".1s"><a href="#tabs-4-2" data-toggle="tab">Our Mission</a></li>
                            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".2s"><a href="#tabs-4-3" data-toggle="tab">Our Goals</a></li>
                            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s"><a href="#tabs-4-4" data-toggle="tab">Our Values</a></li>
                        </ul>
                     
                    </div>
                    <div class="col-lg-8 col-xl-9">
                        <!-- Tab panes-->
                        <div class="tab-content tab-content-1">
                            <div class="tab-pane fade show active" id="tabs-4-1">
                                <h4>a few words about us</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.</p>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                    consectetur.</p>
                                    <!-- <img src="images/about-1-835x418.jpg" alt="" width="835" height="418" /> -->
                            </div>
                            <div class="tab-pane fade" id="tabs-4-2">
                                <h4>Offering the Best Pizza in Los Angeles</h4>
                                <p>Lotus advenas ducunt ad gemna. Ubi est domesticus domina? Heu, barbatus mens! Cum elogium favere, omnes lubaes tractare talis, barbatus adiuratores. Mirabilis hydras ducunt ad danista. Dominas sunt accentors de germanus
                                    cacula. Amicitias prarere in alta muta! Ecce, bubo! Nunquam promissio verpa. Talis, primus fugas recte consumere de audax, festus indictio. Nunquam quaestio scutum. Valebats</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.</p>
                                    <!-- <img src="images/about-1-835x418.jpg" alt="" width="835" height="418" /> -->
                            </div>
                            <div class="tab-pane fade" id="tabs-4-3">
                                <h4>Providing Top-notch Customer Service</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                    consectetur.</p>
                                <p>Lotus advenas ducunt ad gemna. Ubi est domesticus domina? Heu, barbatus mens! Cum elogium favere, omnes lubaes tractare talis, barbatus adiuratores. Mirabilis hydras ducunt ad danista. Dominas sunt accentors de germanus
                                    cacula. Amicitias prarere in alta muta! Ecce, bubo! Nunquam promissio verpa. Talis, primus fugas recte consumere de audax, festus indictio. Nunquam quaestio scutum. Valebats</p>
                                    <!-- <img src="images/about-1-835x418.jpg" alt="" width="835" height="418" /> -->
                            </div>
                            <div class="tab-pane fade" id="tabs-4-4">
                                <h4>Integrity & Dedication</h4>
                                <p>Albus, dexter particulas grauiter consumere de ferox, bi-color abactus. Impositios studere, tanquam mirabilis hippotoxota. Cur torus manducare? Pol, vox! Cum barcas nocere, omnes specieses contactus</p>
                                <p>Lotus advenas ducunt ad gemna. Ubi est domesticus domina? Heu, barbatus mens! Cum elogium favere, omnes lubaes tractare talis, barbatus adiuratores. Mirabilis hydras ducunt ad danista. Dominas sunt accentors de germanus
                                    cacula. Amicitias prarere in alta muta! Ecce, bubo! Nunquam promissio verpa. Talis, primus fugas recte consumere de audax, festus indictio. Nunquam quaestio scutum. Valebats</p>
                                    <!-- <img src="images/about-1-835x418.jpg" alt="" width="835" height="418" /> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Icon Classic-->
        <section class="section section-lg bg-gray-100">
            <div class="container">
                <div class="row row-md row-50">
                    <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay="0s">
                        <article class="box-icon-classic">
                            <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon linearicons-helicopter"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">Free Delivery</a></h5>
                                    <p class="box-icon-classic-text">Lotus advenas ducunt ad gemna. Ubi est domesticus domina heu.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay=".1s">
                        <article class="box-icon-classic">
                            <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon linearicons-pizza"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">20+ Pizza Options</a></h5>
                                    <p class="box-icon-classic-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay=".2s">
                        <article class="box-icon-classic">
                            <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon linearicons-leaf"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">Fresh Ingredients</a></h5>
                                    <p class="box-icon-classic-text">Albus, dexter particulas grauiter consumere de ferox, bi-color abactus.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Team-->
        <section class="section section-lg section-bottom-md-70 bg-default">
            <div class="container">
                <h3 class="oh"><span class="d-inline-block wow slideInUp" data-wow-delay="0s">our team</span></h3>
                <div class="row row-lg row-40 justify-content-center">
                    {% for team in teams %}
                    <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="1s">
                        <!-- Team Modern-->
                        <article class="team-modern"><a class="team-modern-figure" href="#">
                            <img src="{{team.image.url}}" alt="" width="270" height="236"/>
                        </a>
                            <div class="team-modern-caption">
                                <h6 class="team-modern-name"><a href="#">{{team.name}}</a></h6>
                                <div class="team-modern-status">{{team.title}}</div>
                                <ul class="list-inline team-modern-social-list">
                                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                                    <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
              
                </div>
            </div>
        </section>


{% endblock %}