{% extends 'base.html' %}
{% load static %}
{% block content %}


        <section class="bg-gray-7">
            <div class="breadcrumbs-custom box-transform-wrap context-dark">
                <div class="container">
                    <h3 class="breadcrumbs-custom-title">Contact Us</h3>
                    <div class="breadcrumbs-custom-decor"></div>
                </div>
                <div class="box-transform" style="background-image: url({% static 'images/bg-1.jpg' %});"></div>
            </div>

        </section>

        <!-- Tell-->
        <section class="section section-sm section-first bg-default">
            <div class="container">
                <h3 class="heading-3">Book your Table</h3>
                <form class="rd-form form-style-1"  method="POST" action="">
                {% csrf_token %}
                    <div class="row row-20 gutters-20">
                        <div class="col-md-6 col-lg-6 oh-desktop">
                            <div class="form-wrap wow slideInDown">
                                <input class="form-input" id="contact-your-name-6" type="text" name="name" data-constraints="@Required">
                                <label class="form-label" for="contact-your-name-6">Your Name*</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 oh-desktop">
                            <div class="form-wrap wow slideInUp">
                                <input class="form-input" id="contact-email-6" type="email" name="email" data-constraints="@Email @Required">
                                <label class="form-label" for="contact-email-6">Your E-mail*</label>
                            </div>
                        </div>
           
                        <div class="col-12">
                            <div class="form-wrap wow fadeIn">
                                <label class="form-label" for="contact-message-6">Message</label>
                                <textarea class="form-input textarea-lg" id="contact-message-6" name="message" data-constraints="@Required"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="group-custom-1 group-middle oh-desktop">
                        <button class="button button-lg button-primary button-winona wow fadeInRight" type="submit">Send message</button>
                        <!-- Quote Classic-->
                        <article class="quote-classic quote-classic-3 wow slideInDown">
                            <div class="quote-classic-text">
                                <p class="q">Please reserve your table at least 1 day in advance.</p>
                            </div>
                        </article>
                    </div>
                </form>
            </div>
        </section> 

               <!-- Tell-->
               <section class="section section-sm bg-default">
                <div class="container-fluid">
                   
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.078633400794!2d52.6412151!3d24.1689749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e432b41abc46f59%3A0x11fe29e7b22fadbc!2zQXJhayBDYWZlICYgUmVzdGF1cmFudCAtINmF2LfYudmFINmI2YPYp9mB2YrZhyDYp9ix2KfZgw!5e0!3m2!1sen!2sbd!4v1675421410111!5m2!1sen!2sbd" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </section> 

        <!-- Section Services  Last section-->
        <section class="section section-sm bg-default">
            <div class="container">
                <div class="owl-carousel owl-style-11 dots-style-2" data-items="1" data-sm-items="1" data-lg-items="2" data-xl-items="4" data-margin="30" data-dots="true" data-mouse-drag="true" data-rtl="true">
                    <article class="box-icon-megan wow fadeInUp">
                        <div class="box-icon-megan-header">
                            <div class="box-icon-megan-icon linearicons-bag"></div>
                        </div>
                        <h5 class="box-icon-megan-title"><a href="#">Free Delivery</a></h5>
                        <p class="box-icon-megan-text">If you order more than 3 pizzas, we will gladly deliver them to you for free.</p>
                    </article>
                    <article class="box-icon-megan wow fadeInUp" data-wow-delay=".05s">
                        <div class="box-icon-megan-header">
                            <div class="box-icon-megan-icon linearicons-map2"></div>
                        </div>
                        <h5 class="box-icon-megan-title"><a href="#">Convenient Location</a></h5>
                        <p class="box-icon-megan-text">Our pizzeria is situated in the downtown and is very easy to reach even on weekends.</p>
                    </article>
                    <article class="box-icon-megan wow fadeInUp" data-wow-delay=".1s">
                        <div class="box-icon-megan-header">
                            <div class="box-icon-megan-icon linearicons-radar"></div>
                        </div>
                        <h5 class="box-icon-megan-title"><a href="#">Free Wi-Fi</a></h5>
                        <p class="box-icon-megan-text">We have free Wi-Fi available to all clients and visitors of our pizzeria.</p>
                    </article>
                    <article class="box-icon-megan wow fadeInUp" data-wow-delay=".15s">
                        <div class="box-icon-megan-header">
                            <div class="box-icon-megan-icon linearicons-thumbs-up"></div>
                        </div>
                        <h5 class="box-icon-megan-title"><a href="#">Best Service</a></h5>
                        <p class="box-icon-megan-text">The client is our #1 priority as we deliver top-notch customer service.</p>
                    </article>
                </div>
            </div>
        </section>

 {% endblock %}
      