{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!-- parallax top-->
        <!-- Breadcrumbs -->
        <section class="bg-gray-7">
            <div class="breadcrumbs-custom box-transform-wrap context-dark">
                <div class="container">
                    <h3 class="breadcrumbs-custom-title">{{object.name}}</h3>
                    <div class="breadcrumbs-custom-decor"></div>
                </div>
                <div class="box-transform" style="background-image: url({{object.image.url}});"></div>
            </div>
       
        </section>
        
        <section class="section section-lg bg-default">
            <div class="container">
                <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-center text-md-left" id="tabs-4">

                    <div class="col-lg-8 col-xl-9">
                        <!-- Tab panes-->
                        <div class="tab-content tab-content-1">
                            <div class="tab-pane fade show active" id="tabs-4-1">
                                <p>{{object.details}}</p>
                            </div>
             
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Icon Classic-->
        <section class="section section-lg bg-gray-100">
            <div class="container">
                <div class="row row-md row-50">
                    <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay="0s">
                        <article class="box-icon-classic">
                            <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon linearicons-helicopter"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">Free Delivery</a></h5>
                                    <p class="box-icon-classic-text">Lotus advenas ducunt ad gemna. Ubi est domesticus domina heu.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay=".1s">
                        <article class="box-icon-classic">
                            <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon linearicons-pizza"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">20+ Pizza Options</a></h5>
                                    <p class="box-icon-classic-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay=".2s">
                        <article class="box-icon-classic">
                            <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon linearicons-leaf"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">Fresh Ingredients</a></h5>
                                    <p class="box-icon-classic-text">Albus, dexter particulas grauiter consumere de ferox, bi-color abactus.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>



     {% endblock %}